<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-communication"
    version="0.1.3">
    <name>nat-communication</name>
    <description>Nat.js module: Communication (call phone, send short message, send email)</description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,communication,call,sms,email</keywords>
    <repo>https://github.com/natjs/weex-nat-communication.git</repo>
    <issue>https://github.com/natjs/weex-nat-communication/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="UIKit.framework" />
          <framework src="NatCommunication" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatComm" />
                 <param name="api" value="nat/communication" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatComm.h"/>
         <source-file src="ios/WeexNatComm.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
        <config-file target="config.xml" parent="/*">
             <feature name="Communication">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.nat.weex.Communication" />
                 <param name="api" value="nat/communication" />
             </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.permission.CALL_PHONE" />
        </config-file>

        <source-file
             src="android/Communication.java"
            target-dir="src/com/alibaba/weex/nat/Communication.java" />

        <framework src="com.nat:communication:1.0.2" />
        <framework src="com.nat:permission:1.0.1" />
     </platform>

</plugin>
